<!DOCTYPE html>
<html ng-app="pedido">
    <head>
        <meta charset="UTF-8">
        <title>Bem-vindo</title>
    </head>
    <body ng-controller="PedidosController">
        <h1>Sistema de pedido</h1>
        {{nomePedido}}
      </br>
        <input type="text" ng-model="nomePedido">

        <script src="/javascript/angular.min.js"></script>
        <script src="/javascript/main.js"></script>
        <script src="/javascript/PedidoController.js"></script>
    </body>
</html>
