<!DOCTYPE html>
<html ng-app="pedido">
    <head>
        <meta charset="UTF-8">
        <title>Pedido</title>
        <meta charset="UTF-8">
      <base href="/">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <script src="/js/lib/angular.min.js"></script>
      <script src="/js/lib/angular-route.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/controller/PedidoController.js"></script>
    </head>
    <body>
        <div class="container">
         <ng-view></ng-view>
        </div>
    </body>
</html>
