<div class="jumbotron">
   <h1 class="text-center">Pedido</h1>
</div>


<p ng-show="nomePedido.length" class="alert alert-info">
    {{nomePedido}}
</p>

</br>
<div class="row">
    <div class="col-md-12">
      <input class="form-control" type="text" ng-model="nomePedido">

      <div class="col-md-12">
        <p>{{pedidos}}</p>
      </div>
    </div>
</div>
