<div class="jumbotron">
   <h1 class="text-center">Pedido</h1>
</div>


<p ng-show="nomePedido.length" class="alert alert-info">
    {{nomePedido}}
</p>

</br>
<div class="row">
    <div class="col-md-12">
      <input class="form-control" type="text" ng-model="nomePedido">

      <br/>
      <br/>

      <div class="col-md-12">
         <textarea class="form-group" rows="10" disabled="true">
           {{pedidos}}
         </textarea>
      </div>
    </div>
</div>

<div class="row">
  <div>
    <a href="/#/preco/1">Incluir preços</a>
  </div>
</div>
